<head>
<title>Titanic Survival</title>
</head>

<form action="((url_for(\"predict\")))" method="post">
<label> PClass</label></br>
<input type="text" name="PClass"><br>
<label> Age</label></br>
<input type="text" name="Age"><br>
<label> SibSp</label></br>
<input type="text" name="SibSp"><br>
<label> Parch</label></br>
<input type="text" name="Parch"><br>
<label> Fare</label></br>
<input type="text" name="Fare"><br>
<label> Sex_male</label></br>
<input type="text" name="Sex_male"><br>
<label> Embarked_Q</label></br>
<input type="text" name="Embarked_Q"><br>
<label> Embarked_S</label></br>
<input type="text" name="Embarked_S"><br>
<input type="submit" value="value">
</form>
